<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <!--第三方框架-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="//cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.min.js"></script>
    <script src="//cdn.bootcss.com/headroom/0.7.0/headroom.min.js"></script>
    <script src="//cdn.bootcss.com/headroom/0.7.0/jQuery.headroom.min.js"></script>
    <script src="~/Scripts/site.js"></script>

    <!--自定义样式/脚本-->
    @RenderSection("head", required: false)
    <script src="//cdn.bootcss.com/less.js/2.5.1/less.min.js"></script>
</head>
<body>
    @{Html.RenderAction("Header", "Partials");}
    <article>@RenderBody()</article>
    @{Html.RenderAction("Footer", "Partials");}
    @RenderSection("foot", required: false)
</body>
</html>
